# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [17]:
import pandas as pd

Load the dataset into a dataframe.

In [18]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [20]:
# your code goes here
duplicates = df[df.duplicated()]
 
num_duplicates = duplicates.shape[0]
 
print("Number of duplicate rows: ", num_duplicates)

Number of duplicate rows:  154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [22]:
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [23]:
num_duplicates = df[df.duplicated()].shape[0]

print("Number of duplicate rows: ", num_duplicates)

Number of duplicate rows:  0

## Finding Missing values

Find the missing values for all columns.

In [25]:
missing_values = df.isna().sum()
missing_values

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [26]:
missing_workloc = df['WorkLoc'].isna().sum()

print("Number of missing values in WorkLoc: ", missing_workloc)

Number of missing values in WorkLoc:  32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [27]:
workloc_counts = df['WorkLoc'].value_counts()
print(workloc_counts)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

The most frequent work location is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [30]:
most_frequent_workloc = df['WorkLoc'].value_counts().idxmax()

df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [31]:
missing_workloc = df['WorkLoc'].isna().sum()

print("Number of missing values in WorkLoc: ", missing_workloc)

Number of missing values in WorkLoc:  0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

List out the various categories in the column 'CompFreq'

In [33]:
compfreq_categories =df['CompFreq'].unique()
compfreq_categories

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [46]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [34]:
df['NormalizedAnnualCompensation'] = df.apply(lambda row: row['CompTotal']
if row['CompFreq'] == 'Yearly'
else (row['CompTotal'] * 12
      if row['CompFreq'] == 'Monthly'
      else (row['CompTotal'] * 52
            if row['CompFreq'] == 'Weekly'
            else 0)), axis=1)

In [35]:
df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         0.0
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [36]:
df['NormalizedAnnualCompensation'].isna().sum()

609

In [39]:
median_compen = df['NormalizedAnnualCompensation'].median()
median_compen

98000.0

In [42]:
df['NormalizedAnnualCompensation'].fillna(median_compen, inplace=True)

In [43]:
df['NormalizedAnnualCompensation'].isna().sum()

0

In [44]:
df['NormalizedAnnualCompensation'].median()

98000.0

In [45]:
df['NormalizedAnnualCompensation'].mean()

5702523.431479207

In [ ]:
df